@import url(http://fonts.googleapis.com/css?family=PT+Sans:700|Droid+Serif:400,700);

body {
  font-family: 'Droid Serif', serif;
  font-weight: 400;
  font-style: normal;
  background: #ffffff;
  color: $primary-color;
  font-size: 18px;
  line-height: 1.5;
  padding: #{$border-thickness * 2};
  padding-left: #{$border-thickness * 3};

  @include media($large) {
    font-size: 16px;
    padding: 14px;
    padding-left: 18px;
  }
}

.container {
  @include outer-container;
}

a {
  color: $secondary-color;
  text-decoration: none;
  transition: color 0.4s;
  &:hover {
    color: $primary-color;
  }
}

p {
  margin-bottom: 27px;
  &:last-child {
    margin-bottom: 0;
  }
}

header {
  display: flex;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  padding-top: 12px;
  line-height: 40px;
  padding-bottom: 12px;
  margin-bottom: 60px;
  border-bottom: 2px solid #e7eae9;

  @include media($large) {
    display: block;
    text-align: center;
  }

  h1 {
    font-size: 27px;
    letter-spacing: 2px;
    margin: 0;

    a {
      color: inherit;
    }
  }

  nav {
    margin-left: auto;

    a {
      margin-left: 24px;
      color: inherit;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

h2 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 27px;
  text-transform: uppercase;
  margin-top: 0;

  a {
    color: $secondary-color;
    &:hover {
      color: $primary-color;
    }
  }
}

time {
  display: block;
  font-style: italic;
  color: #d5dad8;
  margin-bottom: 12px;
}

.posts {
  list-style: none;
  padding: 0;
  li {
    margin-bottom: 60px;
  }
}

article {
  h2 {
    text-align: center;
  }
  time {
    text-align: center;
    margin-bottom: 27px;
  }
}

.pagination {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  span {
    color: #d5dad8;
  }
  .separator {
    padding: 0 8px;
  }
}

ul, ol {
  padding-left: 36px;
  margin-bottom: 27px;
  li {
    margin-bottom: 8px;
  }
}

td {
  vertical-align: top;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

img {
  max-width: 100%;
}

blockquote {
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  border-left: 2px solid $omega-color;
  margin-bottom: 24px;
  padding: 5px 0 5px 24px;
  p {
    margin-bottom: 0;
    line-height: 1.2;
  }
  cite {
    display: block;
    margin-top: 5px;
    font-size: 12px;
  }
}

pre {
  font-family: Consolas, monaco, monospace;
  @include inline-block;
  background: #e7eae9;
  font-size: 14px;
  padding: 0 4px;
}

.about-meta {
 text-align: center;
}

.me {
  margin-bottom: 24px;
}

.projects {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;

  @include media($large) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.project {
  border-left-style: solid;
  border-left-width: 6px;

  p {
    margin-top: 12px;
  }

  a {
    color: $primary-color;
    display: block;
    font-weight: 400;
    padding: 12px 0 12px 12px;
  }
  
  &.punk-api {
    border-color: #00afdb;
  }
  &.pine-for {
    border-color: #50a9d1;
  }
  &.psdfonts {
    border-color: #F42F65;
  }
  &.super-servers {
    border-color: #2969B0;
  }
  &.sapling {
    border-color: #29e784;
  }
}

h3 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 12px;
}

@include keyframes(colourFade) {
  0% {
    border-color: #ec6060;
  }
  50% {
    border-color: #5e4585;
  }
  100% {
    border-color: #80cfd6;
  }
}
