body {
  font-family: 'Sentinel SSm A', 'Sentinel SSm B';
  font-weight: 400;
  font-style: normal;
  background: #ffffff;
  color: $primary-color;
  font-size: 18px;
  line-height: 1.5;
  padding: #{$border-thickness * 2};
  padding-left: #{($border-thickness * 2) + $border-thickness};

  @include media($large) {
    padding: #{($border-thickness * 2) / 2};
    padding-left: #{(($border-thickness * 2) + $border-thickness) / 2};
  }
}

.container {
  @include outer-container;
}

a {
  color: $secondary-color;
  text-decoration: none;
  transition: color 0.4s;
  &:hover {
    color: $primary-color;
  }
}

p {
  margin-bottom: 27px;
}

header {
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  padding-top: 27px;
  line-height: 40px;
  margin-bottom: 40px;
  a:hover {
    color: #ec6060;
  }
  h1 {
    font-size: 27px;
    letter-spacing: 2px;
    @include span-columns(6);
    a {
      color: inherit;
    }
    @include media($large) {
      @include span-columns(12);
      text-align: center;
    }
  }

  nav {
    @include span-columns(6);
    text-align: right;
    a {
      margin-left: 12px;
      color: inherit;
      &:first-child {
        margin-left: 0;
      }
    }
    @include media($large) {
      @include span-columns(12);
      text-align: center;
    }
  }
}

footer {
  margin: 27px 0;
  font-size: 12px;
  text-align: center;
  .heart-icon {
    width: 1em;
    margin: 0 .2em;
  }
}

h2 {
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 700;
  font-style: normal;
  font-size: 27px;
  text-transform: uppercase;
  margin-bottom: 8px;
  a {
    color: $secondary-color;
    &:hover {
      color: $primary-color;
    }
  }
}

time {
  display: block;
  font-style: italic;
  color: #d5dad8;
  margin-bottom: 5px;
}

.posts {
  li {
    margin-bottom: 60px;
  }
}

article {
  h2 {
    text-align: center;
  }
  time {
    text-align: center;
    margin-bottom: 27px;
  }
}

.pagination {
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 700;
  text-transform: uppercase;
  span {
    color: #d5dad8;
  }
  .separator {
    padding: 0 8px;
  }
}

