body {
  font-family: 'Sentinel SSm A', 'Sentinel SSm B';
  font-weight: 400;
  font-style: normal;
  color: #353b3c;
  margin: #{$border-thickness * 2};
  margin-left: #{($border-thickness * 2) + $border-thickness};
  font-size: 18px;
  line-height: 1.5;
}

.container {
  @include outer-container;
}

a {
  color: #ec6060;
  text-decoration: none;
  transition: color 0.4s;
  &:hover {
    color: inherit;
  }
}

header {
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 24px;
  line-height: 54px;
  margin-bottom: 36px;
  h1 {
    font-size: 42px;
    letter-spacing: 2px;
    @include span-columns(6);
  }

  nav {
    @include span-columns(6);
    text-align: right;
    a {
      margin-left: 12px;
      color: inherit;
      &:hover {
        color: #ec6060;
      }
    }
  }
}

footer {
  margin: 24px 0;
  font-size: 12px;
}

h2 {
  font-family: 'Verlag A', 'Verlag B';
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  text-transform: uppercase;
}

time {
  font-size: 18px;
  font-style: italic;
  color: #bcc3c4;
}

.posts {
  li {
    border-bottom: 2px solid #f9caca;
  }
}